<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{{ asset('animated_favicon1.gif') }}" />

    <title>{% block title %}Présentation{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="{{ asset('css/slidefolio.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

</head>
<body>
<!-- Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <a href="{{ path('homepage') }}"><img class="img-rounded" alt="Company Logo"
                                              src="{{ asset('img/profile.jpg') }}" height="150"/></a>
        <h2><em>Lutin Mickael</em></h2>
        <h4><em>Developpeur Web Junior</em></h4>
        <img src="{{ asset('img/html.png') }}" height="45"/>
        <img src="{{ asset('img/js.png') }}" height="45"/>
        <img src="{{ asset('img/css.png') }}" height="45"/>
        <img src="{{ asset ('img/php.png') }}" height="45"/>
        <img src="{{ asset('img/symfony.png') }}" height="45"/>
        <img src="{{ asset('img/mysql.png') }}" height="45"/><br><br>
        <a href="{{ asset('fichier/Mickael Lutin CV .pdf') }}" class="btn btn-top">Afficher mon Cv</a>
    </div>
</div>
<!-- /Header Area -->
<div id="nav">
    <!-- Navigation -->
    <nav class="navbar navbar-new" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobilemenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Développeur Web</a>
            </div>
            <div class="collapse navbar-collapse" id="mobilemenu">

                <ul class="nav navbar-nav navbar-right text-center">
                    <li><a href="{{ path('homepage') }}"><i class="service-icon fa fa-home"></i>&nbsp;Home</a></li>
                    <li><a href="{{ path('formation') }}"><i class="service-icon fa fa-book"></i>&nbsp;Formation</a></li>
                    <li><a href="{{ path('experience') }}"><i class="service-icon fa fa-laptop"></i>&nbsp;Experience</a></li>
                    <li><a href="{{ path('contact') }}"><i class="service-icon fa fa-envelope"></i>&nbsp;Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- /Navigation -->
</div>
<!-- About -->

<!-- /About -->
<!-- Services -->
<div id="services" class="services">
    <div class="container">

        <div class="row">
            {% block body %}{% endblock %}



        </div>
    </div>
</div>
<div id="style">

    {% block style %}{% endblock %}


</div>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3>Réseaux Sociaux</h3>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/mickael.lutin" class="fa fa-facebook fa-2x"></a></li>
                    <li><a href="https://www.instagram.com/dgwaner/" class="fa fa-instagram fa-2x"></a></li>
                    <li><a href="https://plus.google.com/u/0/100076345393472834268" class="fa fa-google-plus fa-2x"></a></li>
                    <li><a href="https://www.linkedin.com/in/mickael-lutin-41357392/" class="fa fa-linkedin fa-2x"></a></li>
                    <li><a href="https://github.com/dgmick" class="fa fa-github fa-2x"></a></li>
                </ul>

                <em><i class="fa fa-location-arrow" ></i> 148 Avenue Jean Jaures 93500, Pantin
                    <i class="fa fa-phone" ></i> Tel: 06.45.95.38.56
                    <i class="fa fa-envelope" ></i>Email : lutmickael@gmail.com
                </em>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/jquery-scrolltofixed-min.js') }}"></script>
<script src="{{ asset('js/jquery.vegas.js') }}"></script>
<script src="{{ asset('js/jquery.mixitup.min.js') }}"></script>
<script src="{{ asset('js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>

<!-- Slideshow Background  -->
<script>
    $.vegas('slideshow', {
        delay: 5000,
        backgrounds: [
            {src: './img/lieu de travaille.jpg', fade: 2000},
            {src: './img/portrait2.jpg', fade: 2000},

        ]
    })('overlay', {
        src: './img/overlay.png'
    });

</script>
<!-- /Slideshow Background -->

<!-- Mixitup : Grid -->
<script>
    $(function () {
        $('#Grid').mixitup();
    });
</script>
<!-- /Mixitup : Grid -->

<!-- Custom JavaScript for Smooth Scrolling - Put in a custom JavaScript file to clean this up -->
<script>
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>
<!-- Navbar -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#nav').scrollToFixed();
    });
</script>
<!-- /Navbar-->

</body>

</html>